<div class="vh-100 d-flex flex-column justify-content-center align-items-center">
  <h1 class="text-white mb-4">¡Bienvenido a CircusLab!</h1> <!-- Se agrega margen inferior para separación -->
  <div class="cuadrado d-flex">
    <div class="texto">
      <h2>¿Amante de las acrobacias y el mundo cirquense?</h2>
      <p>Aquí encontrarás una comunidad de personas apasionadas del deporte y las actividades fisicas
        caracterizadas por usar solamente el peso de nuestro propio cuerpo.
      Aro,telas,traps,trapecios...En CircusLab no le hacemos ascos a nada ¡Al contrario!Somos partidarios de descubrir cada dia retos nuevos y compartirlo con nuestra comunidad.
      En esta web podrás encontrar tutoriales filtrados por niveles,asi como un apartado donde os amnetnemos informados de todas las novedades del centro.
      </p>
        <p>¿Te hemos conquistado? Unete a CircusLab. </p>
    </div>
    <img src="/inifot.jpg" alt="inicio.jpg" class="imagen">
  </div>
</div>


