
.cuadrado {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  padding: 20px;
  width: 1000px;
  height: 500px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

.texto {
  flex: 1;
  margin-right: 20px;
  font-size: 16px;
}

.imagen {
  width: 200px;
  height: 300px;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}
