@defer(when dataLoaded){
  <div class="row">
    <!-- Formulario de creación de tutorial (columna 1) -->
    <div class="col-md-6 my-2">
      <div class="form-container"> <!-- Contenedor del formulario -->
        <form [formGroup]="formTutorial">
          <h2 class="text-center text-black">{{edit ? 'Editar' : 'Nuevo'}} Tutorial</h2>

          <!-- Título del formulario -->
          <div class="form-floating mb-3">
            <input type="text" formControlName="titulo" class="form-control" id="titulo" placeholder="titulo">
            <label for="titulo">Título</label>
            <div *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)">
              <div class="alert alert-danger" *ngIf="titulo.errors?.['required']">Se necesita un título</div>
            </div>
          </div>

          <!-- Contenido del formulario -->
          <div class="form-floating mb-3">
            <textarea formControlName="contenido" class="form-control" id="contenido" placeholder="contenido" style="height: 100px;"></textarea>
            <label for="contenido">Contenido</label>
            <div *ngIf="contenido.invalid && (contenido.dirty || contenido.touched)">
              <div class="alert alert-danger" *ngIf="contenido.errors?.['required']">
                Se necesita un contenido
              </div>
            </div>
          </div>

          <!-- Campo de imagen -->
          <div class="form-floating mb-3">
            <input type="text" formControlName="media" class="form-control" id="media" placeholder="media">
            <label for="media">Imagen</label>
            <div *ngIf="media.invalid && (media.dirty || media.touched)">
              <div class="alert alert-danger" *ngIf="media.errors?.['required']">Se necesita una imagen</div>
              <div class="alert alert-danger" *ngIf="media.errors?.['minlength']">Debe de tener al menos 5 caracteres</div>
            </div>
          </div>

          <!-- Selección de dificultad -->
          <div class="form-floating mb-3">
            <select class="form-select" id="dificultad" formControlName="dificultad">
              <option value="" disabled selected>Seleccione una dificultad</option>
              <option value="Principiante">Principiante</option>
              <option value="Media">Media</option>
              <option value="Dificil">Difícil</option>
            </select>
            <label for="dificultad">Dificultad</label>
            <div *ngIf="dificultad.invalid && (dificultad.dirty || dificultad.touched)">
              <div class="alert alert-danger" *ngIf="dificultad.errors?.['required']">Debe seleccionar una dificultad</div>
            </div>
          </div>

          <!-- Botón para enviar el formulario -->
          <div class="d-flex justify-content-center">
            <button class="btn-lila" (click)="submit()">Enviar</button>
          </div>
        </form>
      </div> <!-- Fin del contenedor -->
    </div>

    <!-- Previsualización de la imagen (columna 2) -->
    <div class="col-md-6 my-2">
      <div class="card shadow bg-transparent border-0">
        <!-- Mostrar imagen o imagen por defecto -->
        <img [src]="media.value ? media.value : 'src/assets/notFound.jpg'" alt="imagen de tutorial" class="img-fluid img-preview">
      </div>
    </div>
  </div>
}
