.tuto-container {
  max-width: 1500px;
  margin: 20px auto;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(20px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  min-height: 150px;
  padding: 20px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  overflow: hidden;
}


.titulo {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 6px;
}

.contenido {
  font-size: 1rem;
  color: #333;
  max-height: 3.6em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


.imagen-fija {
  width: 150px;
  height: 150px;
  overflow: hidden;
  flex-shrink: 0;
}

.imagen-tuto {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}


.icon-hover {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.icon-hover:hover {
  transform: scale(1.2); /
}
.boton-container {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
}

.nuevo-tuto-btn {
  background-color: rgba(255, 255, 255, 0.75);
  color: #b388eb;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nuevo-tuto-btn:hover {
  background-color:#b388eb ;
  color: white;
}
.filtro-container {
  display: inline-block;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 25px;

}

.filtro-container label {
  margin-right: 10px;
  font-size: 1rem;
  font-weight: 600;
  color:#b388eb;
}

.filtro-container select {
  padding: 8px 12px;
  border-radius: 20px;
  background-color: #d3b4f7;
  border: 1px solid #cfa0e3;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  transition: background-color 0.3s, border-color 0.3s;
}

.filtro-container select:hover {
  background-color: #b388eb;
}

.bg-purple {
  background-color: #6a1b9a !important;
}

.btn-purple {
  background-color: #9b59b6;
  color: white;
  border: none;
}

.btn-purple:hover {
  background-color: #8e44ad;
  color: white;
}

