@defer(when dataLoaded){
  <div class="boton-container d-flex justify-content-between align-items-center mb-3">
  <div class="filtro-container mb-3">
    <label for="filtroDificultad" class="form-label me-2">Filtrar por dificultad:</label>
    <select id="filtroDificultad"
            class="form-select w-auto d-inline-block"
            [(ngModel)]="filtroDificultad"
            (change)="filtrarTutoriales()">
      <option value="">Todas</option>
      <option value="principiante">Principiante</option>
      <option value="media">Media</option>
      <option value="dificil">Difícil</option>
    </select>
  </div>


      <div *ngIf="authService.isProfesor()" class="boton-container">
          <button class="nuevo-tuto-btn" [routerLink]="'/tutorial-add/'">
              Nuevo Tutorial
          </button>
      </div>
  </div>
  @for (tutorial of tutorialesFiltrados; track tutorial._id) {
    <div class="tuto-container mx-auto d-flex align-items-start mb-4 p-3 border rounded shadow-sm" style="height: 200px;">

      <!-- Imagen -->
      <div class="me-3" style="width: 150px; height: 100%; overflow: hidden;">
        <img [src]="tutorial.media" [alt]="tutorial.titulo" class="imagen-tuto" style="object-fit: cover; width: 100%; height: 100%;">
      </div>

      <!-- Contenido -->
      <div class="flex-grow-1 d-flex flex-column justify-content-between">
        <div class="titulo fw-bold fs-5">{{ tutorial.titulo }}</div>
        <div class="contenido text-muted">{{ tutorial.contenido }}</div>
      </div>

      <!-- Iconos (eliminar / editar) -->
        <div class="d-flex flex-column align-items-end justify-content-between ms-3" style="height: 100%;">

            <!-- Icono eliminar visible solo si es profesor -->
            <fa-icon
                    *ngIf="authService.isProfesor()"
                    [icon]="faTrashCan"
                    class="fs-3 mb-3 icon-hover"
                    style="color: #6a1b9a;"
                    (click)="deleteTutorial(tutorial)">
            </fa-icon>

            <fa-icon
                    [icon]="faMagnifyingGlass" data-bs-toggle="modal" [attr.data-bs-target]="'#Modal'+tutorial._id"
                    class="fs-3 mb-3 icon-hover"
                    style="color: #9b59b6;"
                    (click)="AbreModal(tutorial._id)">
            </fa-icon>

            <!-- Icono editar visible solo si es profesor -->
            <a
                    *ngIf="authService.isProfesor()"
                    [routerLink]="['/tutorial-edit', tutorial._id]"
                    class="text-black fs-3 icon-hover">
                <fa-icon [icon]="faPenToSquare"></fa-icon>
            </a>

        </div>


    </div>


    <!-- Modal -->
    <div class="modal fade" [attr.id]="'Modal'+tutorial._id" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg"> <!-- Tamaño más grande -->
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">{{ tutorial.titulo }}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <div class="d-flex flex-row align-items-start">
              <!-- Imagen a la izquierda -->
              <div class="me-3" style="width: 200px; height: 200px; overflow: hidden;">
                <img
                  [src]="tutorial.media"
                  [alt]="tutorial.titulo"
                  class="img-fluid rounded"
                  style="object-fit: cover; width: 100%; height: 100%;">
              </div>

              <!-- Texto a la derecha -->
              <div class="flex-grow-1">
                <p class="text-muted">{{ tutorial.contenido }}</p>
              </div>
            </div>
          </div>

          <div class="modal-footer">

          </div>
        </div>
      </div>
    </div>

    <!-- FIN MODAL -->
  }

}@placeholder (){
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-success" role="status">
      <span class="visually-hidden"> cargando...</span>
    </div>
  </div>
}

