.novedad-container {
  max-width: 1500px;
  margin: 20px auto;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.75); /* Fondo ligeramente translúcido */
  backdrop-filter: blur(20px); /* Desenfoque más suave */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  min-height: 150px; /* Altura mínima mayor */
  padding: 20px; /* Espacio interno aumentado */
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  overflow: hidden;
}


.titulo {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 6px;
}

.contenido {
  font-size: 1rem;
  color: #333;
  max-height: 3.6em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.imagen-novedad {
  width: 140px;
  height: 140px;
  border-radius: 12px;
  object-fit: cover;
}

.icon-hover {
  transition: transform 0.3s ease; /* Transición suave */
}

.icon-hover:hover {
  transform: scale(1.2); /* Hace que el icono se agrande un poco en hover */
}
.boton-container {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
}

.nueva-novedad-btn {
  background-color: rgba(255, 255, 255, 0.75);
  color: #b388eb;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nueva-novedad-btn:hover {
  background-color:#b388eb ;
  color: white;
}
.bg-purple {
  background-color: #6a1b9a !important;
}

.btn-purple {
  background-color: #9b59b6;
  color: white;
  border: none;
}

.btn-purple:hover {
  background-color: #8e44ad;
  color: white;
}
.visitas-ojo{

  color: #6a1b9a;
  padding: 4px 10px;
  font-size: 0.9rem;


}